*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  color: #0A143A;
}

body {
  width: 100vw;
}

.container {
  max-width: 1146px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  margin-bottom: 24px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo__title {
  margin-left: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.btn {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #256EEB;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}
.btn-enter, .btn-search {
  background-color: initial;
}
.btn-advertisement {
  color: #fff;
}
.btn__text-search {
  margin-left: 3px;
  color: #fff;
}

.burger {
  cursor: pointer;
  display: none;
}

.search {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #256EEB;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid #256EEB;
}
.search__input {
  width: 100%;
  padding: 14px 21.45px;
  font-weight: 400;
  font-size: 14px;
  color: #0A143A;
  border: none;
  background-color: #fff;
}
.search__input:focus {
  outline: none;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}
.content__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  color: #0A143A;
}
.content__main {
  width: calc(100% - 261px);
}
.content__description {
  width: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__description-service {
  border-bottom: 1px solid #e5e5e5;
}
.content__description-copyright {
  display: flex;
  flex-direction: column;
}
.content__description-copyright > h6, .content__description-copyright > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}
.content__description-copyright > a:hover {
  color: #0A143A;
}

.products {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.products__item {
  width: calc((100% - 60px) / 3);
  padding: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.products__item--img {
  width: 100%;
  margin-bottom: 12px;
}
.products__item--img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__item--title {
  margin-bottom: 6.35px;
  font-weight: 700;
  font-size: 16px;
  color: #256EEB;
  text-transform: uppercase;
}
.products__item--price {
  margin-bottom: 10.56px;
  font-weight: 700;
  font-size: 16px;
  color: #0A143A;
}
.products__item--description {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #C4C4C4;
}
.products__item:hover {
  box-shadow: 0 0 8px #0A143A;
}

.services {
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-bottom: 44px;
}
.services__item {
  margin-bottom: 25px;
}
.services__item--title, .services__item--description {
  font-size: 14px;
  line-height: 18px;
  color: #0A143A;
}
.services__item--title {
  font-weight: 700;
  margin-bottom: 6px;
}
.services__item--description {
  font-weight: 400;
}

.content__description-copyright > h6,
.content__description-copyright > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .menu,
  .btn__text-search {
    display: none;
  }
  .burger {
    display: block;
  }
  .content {
    flex-direction: column;
  }
  .content__main, .content__description {
    width: 100%;
  }
  .content__description-copyright {
    padding-top: 30px;
  }
  .products__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 491px) {
  .products {
    flex-direction: column;
  }
  .products__item {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */