.btn {
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #256EEB;

    cursor: pointer;

    font-weight: 400;
    font-size: 14px;
    // line-height: 16px;

    &-enter {
        background-color: initial;        
    }

    &-advertisement {
        color: $globalFontColorLight;
    }
}