.products {
    width: 100%;
    padding: 5px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        width: calc((100% - 60px)/3);
        padding: 5px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &--img {
            width: 100%;
            margin-bottom: 12px;
        }

        &--img > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--title {
            margin-bottom: 6.35px;

            font-weight: 700;
            font-size: 16px;
            color: $globalFontColorTitle;
            text-transform: uppercase;
        }

        &--price {
            margin-bottom: 10.56px;

            font-weight: 700;
            font-size: 16px;
            color: $globalFontColorDark;
        }

        &--description {
            margin-bottom: 4px;

            font-weight: 400;
            font-size: 14px;
            color: $globalFontColorSpan;
        }
    }

    &__item:hover {
        box-shadow: 0 0 8px $globalFontColorDark;
    }
}