*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: normal;
    color: $globalFontColorDark;
}

body {
    width: 100vw;
}

.container {
    max-width: 1146px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}